variable "do_token" {
  type    = string
  default = ""
}
variable "pub_key" {
  type    = string
  default = "/home/user/.ssh/id_rsa.pub"
}
variable "pvt_key" {
  type    = string
  default = "/home/user/.ssh/id_rsa"
}
